CONFIG_TARGET_pistachio=y
CONFIG_TARGET_pistachio_marduk=y
CONFIG_TARGET_pistachio_marduk_marduk_cc2520=y
CONFIG_PACKAGE_button-gateway=y
CONFIG_PACKAGE_device-manager=y
CONFIG_PACKAGE_webscripts=y
CONFIG_ALL_KMODS=n
CONFIG_ALL=y
CONFIG_SIGNED_PACKAGES=n
CONFIG_IB=y
CONFIG_SDK=y
CONFIG_MAKE_TOOLCHAIN=y
